body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
header {
    display: flex;
    justify-content: space-between; /* Logo on the right, text in the center */
    align-items: center; /* Vertically center content */
    padding: 10px;
    background-color: #f5f5dc; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
    
}

.logo_container {
    display: flex;
    align-items: center; /* Vertically center content */
}

.logo {
    margin-left: auto; /* Push logo to the right */
    width: 100px;
}

h1 {
    margin-left: 455px; /* Remove default margin */
    font-family: 'Playfair Display', serif;
    color: #556b2f;
}

@media (max-width: 768px) {
    .logo {
        width: 80px; /* Adjust logo size for mobile */
    }
    h1 {
        font-size: 16px; /* Decrease font size for mobile */
        text-align: center; /* Center text */
        margin-left: 50px; 
    }
    
}

/* arrow trigger start from here */
.slide-box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: fixed;
    left: -326px;
    top: 30%;
    animation: boxStartAni 1s ease-in-out;
}

/*.slide-box-switch{
    border:3px solid rgb(206, 194, 194);
    padding: 10px;
    border-radius: 0px 7px 7px 0px;
    background-color: black;
    color: white;
    border-right: none;

}
.slide-box-switch i{
    transition: 0.5s;
}
.slide-box-switch .close{
    transform: rotate(0deg);
}
.slide-box-switch .open{
    transform: rotate(180deg);
}

.slide-box-switch:focus{
    outline: none;
}

.slide-box{
    width: 300px;
    border:4px solid white;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 15px;
    border-radius: 0 0px 4em 0;
}
.slide-box-title{
    color: red;
    font-size: 3em;
}
.slide-box-para{
    color: white;
    text-align: justify;
    margin-bottom: 20px;
}
.links{
    display: flex;
    justify-content: flex-start;
}
.call-btn{
    background-color: red;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}
.call-btn i{
    margin-right: 10px;
}
.fb-btn{
    background-color: rgb(4, 77, 129);
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
}
@keyframes boxStartAni {
    0%{
        left: -260px;
    }
    30%{
        left: -310px;
    }
    60%{
        left: -270px;
    }
    75%{
        left: -305px;
    }
    90%{
        left: -290px;
    }
    100%{
        left: -326px;
    }
}
/* arrow trigger section end here!! */

.gallery{
    display: flex;
    gap: 0.3em;
    padding: 2em 0;
    background-color: rgba(145, 88, 88, 0.459);
    overflow-x: auto; 
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    white-space: nowrap; 
}

.gallery::-webkit-scrollbar{
    display: none;
}

.item{
    display: flex;
    min-width: 200px; 
    flex: 0 0 auto; 
    width: 150px; 
    height: auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
    margin-left: 10px;
    margin-right: 10px;

}

.item img{
    width: 100%;
    height: auto;
    /* display: block; */
    border-radius: 10px;
    transition:all.5s;

}

.gallery>div{
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
}


/* img{
    width: 100%;
    transition:all.5s;
} */
.item img:hover{
    transform: scale(1.5) rotate(12deg);
}

.overlay_1 {
    position: absolute;
    left: 0;
    bottom: -100%; /* Start off-screen below */
    width: 100%;
    background-color: rgba(74, 72, 72, 0.5);
    color: rgb(245, 235, 235);
    padding: 10px;
    transition: bottom 0.3s ease; /* Smooth transition for bottom position */
    text-align: justify;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item:hover .overlay_1 {
    bottom: 0;
}

@media (max-width: 768px) {
    .item {
        min-width: 120px; 
        width: 150px; 
    }
    .overlay_1 {
        font-size: 11px; 
    }
}

.container {
    position: relative;
    width: 50%;
  }
  
/* .menu_table{
    background-image: url(./foodmenu/sushi_bg.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
} */

table{
    background-color: rgb(249, 250, 250); /* Fully opaque background color */
    transition: background-color 3s cubic-bezier(0.39, 0.575, 0.565, 1);
}


table {
    width: 100%;
    border-block-width: inherit;
    margin-top: 8px;
    /* border: 2px solid black; */
    background-color: rgba(74, 72, 72, 0.3); /* Transparent background */
}

tbody tr:hover{
    background-color: #1111119a;
    color: #d5e408;
}

td{
    padding: 6px;
    text-align: center;
}

th{
    padding: 8px;
    background-color: rgba(145, 88, 88, 0.459);
    color: whitesmoke; /* Set the text color for th elements */
}

.order{
    text-align: center;
    padding: 0 20% 0 20%;
    text-align: center;
}

    /* Pop up for Ordering & Payment */
    .ovl {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(39 37 14 / 84%); /* Semi-transparent black overlay */
        justify-content: center;
        align-items: center;
        animation: fadeInOvl  2.5s ease forwards;
      }
  
      /* Styles for the popup box */
      .popup {
        background: #fff; /* White background */
        padding: 20px;
        color: black;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
        text-align: center;
        animation: slideInPopup   2.5s ease forwards;
      }
  
  @keyframes fadeInOvl {
      from{
          opacity: 0;
      }
      to{
          opacity: 10;
      }
  }
  
  @keyframes slideInPopup {
      from{
          transform: translateY(-50px);
          opacity: 0;
      }
      to{
          transform: translateY(0);
          opacity: 1;
      }
  }
  
      /* Close button style */
      .close-btn {
        cursor: pointer;
        color: #333;
        font-size: 20px;
        font-weight: 500; 
        padding: 0px 4px;
        float: right;
        border: 1px solid #333;
        border-radius: 20%;
        transition: color 0.3s ease;
        display: inline;
        animation: rotateOutCloseBtn 0.5s ease forwards; /* Animation for close button */
      }
  
      @keyframes fadeOutPopup {
          from{
              opacity: 10;
          }
          to{
              opacity: 0;
              transform: translateY(-50px);
          } 
      }
  
      @keyframes slideOutPopup {
        from {
          transform: translateY(0);
          opacity: 1;
        }
        to {
          transform: translateY(-50px);
          opacity: 0;
        }
      }
  
      .close-btn:hover{
          color: #ffffff;
          background-color: #000000;
      }
  
      
      @keyframes rotateOutCloseBtn {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(180deg); /* Rotate by 180 degrees on click */
        }
      }



.open-hour{
    text-align: center;
    padding: 0 1em;
}

.open-hour-section{
    background-color: rgba(145, 88, 88, 0.459);
    padding: 1em 1em;
    border-radius: 10px;
}
.contact-info{
    text-align: center;
    padding: 0 1em;
}

.contact-info-section{
    background-color: rgba(151, 96, 96, 0.459);
    padding: 1em 1em;
    border-radius: 10px;
    text-align: center;
}
    
.contact-info a{
    color: #070bf5;
}
section {
    margin-top: 20px;
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  button:hover {
    border: 1px solid white;
  }
  
  button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }
 
.QRcode{
    width: 80px;
    height: 120px;
}

h2 {
    color: #a53e43;
    font-style:inherit;
    text-align: center;
}

.feedback{
    text-align: center;
    
}

.footer_sc {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}  

footer{
    background-color: rgb(128, 124, 120);
}